.Palette {
  height: 100vh;
  overflow: hidden;
}

.Palette--colors {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr)
}

.Palette--footer {
  padding-right: 1rem;
  height: 4vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}